[submodule "GLAT"]
	path = GLAT
	url = https://github.com/FLC777/GLAT.git
[submodule "G-Trans"]
	path = G-Trans
	url = https://github.com/baoguangsheng/g-transformer
[submodule "CADec"]
	path = CADec
	url = https://github.com/lena-voita/good-translation-wrong-in-context/
